
/* global - start */

@font-face{
    font-family:subset-TypoPas-Regular;
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Regular.eot);
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Regular.woff);
/*    src:url(../resources/fonts/TypoPas/subset-TypoPas-Regular.woff2);*/
}
@font-face{
    font-family:subset-TypoPas-Black;
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Black.eot);
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Black.woff);
/*    src:url(../resources/fonts/TypoPas/subset-TypoPas-Black.woff2);*/
}
@font-face{
    font-family:subset-TypoPas-Bold;
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Bold.eot);
    src:url(../resources/fonts/TypoPas/subset-TypoPas-Bold.woff);
/*    src:url(../resources/fonts/TypoPas/subset-TypoPas-Bold.woff2);*/
}

body,html{
    direction:rtl;
/*    font-family:subset-TypoPas-Regular, sans-serif;*/
      font-family:subset-TypoPas-Regular, serif;
}

ul,ol{
    padding:0;
    margin:0;
}
#curtain{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:100;
}
/* global - end */

/*  main navigator bar - start */
#mainHdr{
    background-color:white;
    z-index:1;
    width:100%;
    border-bottom:1px solid #eee;
}
#eMainHdrSpacer{
    height:73px;
}
#mainNav{
    margin:auto;
}
#mainNav>.hdr{
    margin:0.5rem;
}
#mainNav>.hdr img{
    width:200px;
    height:45px;
}
#mainNav, #mainNav ul{
    display:flex;
    font-size:1.23rem;
    color:rgba(100,102,102,1);


}
#mainNav li{
    text-align:center;
}
#mainNav ul{
    list-style-type:none;
}
#mainNav>ul>li{
    padding:1rem;
}

#mainNav li:hover{
    color:rgba(119,172,196,1);
    cursor:pointer;
}
#eLoginItm:hover,#eProductsItm:hover{
    cursor:default !important;
    color:rgba(100,102,102,1) !important;
}

#mainNav{
    align-items:center;
}
#eLoginItm,#eProductsItm{
    position:relative;
}
#eLoginItm,#eLoginOptionsItm,#eProductsItm,#eProductsOptionsItm{
    display:flex;
    flex-direction:column;
}
#eLoginOptionsItm,#eProductsOptionsItm{
    padding:1.4rem 0.6rem 0.6rem 0.6rem;
    background-color:#fff;
    position:absolute;
    white-space:nowrap;
    left:0;
    display:none !important;
    top:40px;
    line-height:2rem;
    width:100%;
    box-sizing:border-box;
}
#eLoginItm:hover *,#eProductsItm:hover *{
    display:flex !important;
    flex-direction:column;
}

.solution{
    width:153px;
    text-align: center;
    margin:1em;
}

.solution .visual{
    height:153px;
    width:153px;
    background-position:center;
    background-repeat:no-repeat;
}
.solution >.caption{
    margin:0.4em 0 0.2rem 0;
}
.solution>.caption{
    font-family:subset-TypoPas-bold;
    font-size:2rem;
}
#eMainPg .solution>.caption{
    font-size:1.75rem;
}
#eAboutPg .solution>.caption{
    font-size:1.8rem;
}
.solution>.content{
    font-size:1.23rem;
}
.solution .visual.monetaryWorld{
    background-color:#68b04d;
    background-image:url(../images/monetaryWorld.png);
}
.solution .visual.journal{
    background-color:#007db6;
    background-image:url(../images/journal.png);
}
.solution .visual.law{
    background-color:#002b4e;
    background-image:url(../images/law.png);
}
.solution .visual.workWorld{
    background-color:#77acc4;
    background-image:url(../images/workWorld.png);
}
.solution .visual.academy{
    background-color:#d26028;
    background-image:url(../images/academy.png);
}
#eAboutPg #eSolutionsWrapper{
    margin:1rem auto;
}

/* solution in workWorld pg - start */
#eWorkWorldPg #eSolutionsWrapperWrapper{
    background-color:#77acc4;
    padding:2rem 0;
}
#eWorkWorldPg #eSolutionsWrapper .solution>.visual{
    border-radius:50%;
    width:153px;
    height:153px;
    margin:auto;
}
#eWorkWorldPg #eSolutionsWrapper .solution>.caption{
    font-family:subset-TypoPas-regular;
    font-weight:normal;
    font-size:1.23rem;
}

.solution .visual.pileOfBooksLightGreen{
    background-color:white;
    background-image:url(../images/pileOfBooks_lightgreen.png);
}
.solution .visual.pileOfBooksTurquoise{
    background-color:white;
    background-image:url(../images/pileOfBooks_turquoise.png);
}
.solution .visual.pileOfBooksBlue{
    background-color:white;
    background-image:url(../images/pileOfBooks_blue.png);
}
.solution .visual.pileOfBooksLightBlue{
    background-color:white;
    background-image:url(../images/pileOfBooks_lightblue.png);
}
.solution .visual.pileOfBooksBrown{
    background-color:white;
    background-image:url(../images/pileOfBooks_brown.png);
}
/* solution in workWorld pg - end */

/* solution in monetary world pg - start */
#eMonetaryWorldPg #eSolutionsWrapperWrapper{
    background-color:#68b04d;
    padding:2rem 0;
}
#eMonetaryWorldPg #eSolutionsWrapper .solution>.visual{
    border-radius:50%;
    width:153px;
    height:153px;
    margin:auto;
}
#eMonetaryWorldPg #eSolutionsWrapper .solution>.caption{
    font-family:subset-TypoPas-regular;
    font-weight:normal;
    font-size:1.23rem;
}

.solution .visual.building{
    background-color:white;
    background-image:url(../images/building.png);
}
.solution .visual.injured{
    background-color:white;
    background-image:url(../images/injured.png);
}
.solution .visual.moneyBill{
    background-color:white;
    background-image:url(../images/moneyBill.png);
}
.solution .visual.arrowInChart{
    background-color:white;
    background-image:url(../images/arrowInChart.png);
}
.solution .visual.inTheSea{
    background-color:white;
    background-image:url(../images/inTheSea.png);
}
/* solution in monetary world pg - end */


/* solutions wrapper - end */

/* content stripes general - start */
    .stripeContent{
        display:table;
        height:100%;
    }
    .stripeContent>.visual,.stripeContent>.content{
        display:table-cell;
    }
    .stripeContent>.visual{
        background-repeat:no-repeat;
    }
    .stripeContent>.content{
        color:white;
        vertical-align:middle;
    }
/* content stripes general - end */

/* content stripes in home page - start */
    #eFirstStripeInHomePgWrapperWrapper,
    #eSecondStripeInHomePgWrapperWrapper{
        background-color:#a0a09f;
        z-index:-1;
    }
    #eFirstStripeInHomePgWrapperWrapper{
        margin-bottom:40px;
    }
    #eFirstStripeInHomePgWrapper>.visual{
        background-image:url(../images/ipad.png);
        width:465px;
        height:519px;
        transform:translateY(50px);
    }
    #eSecondStripeInHomePgWrapper>.visual{
        background-image:url(../images/whiteStripes_medium.png);
        width:500px;
        height:436px;
    }
    #eSecondStripeInHomePgWrapper.stripeContent>.content{
        padding:0 4rem 0 0;
    }
    #eFirstStripeInHomePgWrapper>.content>.caption{
        font-size:5rem;
        line-height:100%;
        font-family:subset-TypoPas-Bold;
        margin:0 0 1rem 0;
    }
    #eFirstStripeInHomePgWrapper>.content>.content{
        font-size:2.1rem;
        line-height:120%;
    }
    #eSecondStripeInHomePgWrapper>.content>.caption{
        font-family:subset-Typopas-bold;
        font-size:2.1rem;
        line-height:2.6rem;
        margin:0 0 1rem 0;
    }
    #eSecondStripeInHomePgWrapper>.content>.content{
        font-size:1.23rem;
        line-height:1.7rem;    
    }
/* content stripes in home page - end */

/* content stripes in about page - start */

    #eFirstStripeInAboutPgWrapperWrapper,#eSecondStripeInAboutPgWrapperWrapper{
        background-color:#a0a09f;
    }
    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.content>.itm{
        padding:0.7rem;
        font-size:1.23rem;
        line-height:1.5rem;
        width:60%;
    }
    #eSecondStripeInAboutPgWrapper>.visual{
        background-image:url(../images/whiteStripes_small.png);
        width:353px;
        height:307px;
    }
    #eSecondStripeInAboutPgWrapper.stripeContent>.content{
        padding:0 4rem 0 0;
    }
    #eSecondStripeInAboutPgWrapperWrapper>.stripeContent>.content>.itm{
        padding:0.7rem;
        font-size:1.23rem;
    }
    #eClientsStripeInAboutPgWrapper>.visual{
        background-image:url(../images/clients.png);
        width:975px;
        height:506px;
    }
/* content stripes in about page - end */

/* content stripes in worlds pages - start */
    #eFirstStripeInWorldsPgWrapperWrapper{
        margin-bottom:100px;
        z-index:-1;
    }
    #eWorkWorldPg #eFirstStripeInWorldsPgWrapperWrapper{
        background-color:#83b3c8;
    }
    #eMonetaryWorldPg #eFirstStripeInWorldsPgWrapperWrapper{
        background-color:#69af58;
    }
    #eFirstStripeInWorldsPgWrapperWrapper,#eFirstStripeInHomePgWrapperWrapper{
        position:relative;
    }


    #eWorkWorldPg #eFirstStripeInWorldsPgWrapper>.visual{
        background-image:url(../images/peopleChatting.png);
        width:524px;
        height:546px;
        transform:translateY(60px);
        display:flex;
    }
    #eMonetaryWorldPg #eFirstStripeInWorldsPgWrapper>.visual{
        background-image:url(../images/financeWorldOnScreen.png);
        width:654px;
        height:563px;
        transform:translateY(40px);
    }
    #eFirstStripeInWorldsPgWrapper>.content{
        color:black;
    }
    #eFirstStripeInWorldsPgWrapper>.content>.caption{
        font-family:subset-TypoPas-bold;
        font-size:5rem;
        line-height:100%;
        margin:0 0 1rem 0;
    }
    #eFirstStripeInWorldsPgWrapper>.content>.content{
        font-size:2.1rem;
        line-height:120%;
    }

    #eWrongAndRightStripeInWorldsWrapper,
    #eProfDeptStripeInWorldsWrapper,
    #eJournalStripeInWorldsWrapper,
    #eFinancialManagementStripeInWorldsWrapper,
    #eFormsInterfaceStripeInWorldsWrapper,
    #eCloudStripeInWorldsWrapper{
        margin:3rem auto;
    }
    #eJournalStripeInWorldsWrapper{
        margin:3rem auto 6rem;
    }
    #eWrongAndRightStripeInWorldsWrapper>.visual{
        background-image:url(../images/vi_large.png);
    }
    #eJournalStripeInWorldsWrapper>.visual{
        background-image:url(../images/journal_large.png);
    }
    #eProfDeptStripeInWorldsWrapper>.visual{
        background-image:url(../images/workWorld_large.png);
    }
    #eFinancialManagementStripeInWorldsWrapper>.visual{
        background-image:url(../images/marksOnAxes_large.png);
    }
    #eFormsInterfaceStripeInWorldsWrapper>.visual{
        background-image:url(../images/documents_large.png);
    }
    #eCloudStripeInWorldsWrapper>.visual{
        background-image:url(../images/cloud_large.png);
    }
    #eWrongAndRightStripeInWorldsWrapper>.visual,
    #eProfDeptStripeInWorldsWrapper>.visual,
    #eJournalStripeInWorldsWrapper>.visual,
    #eFinancialManagementStripeInWorldsWrapper>.visual,
    #eFormsInterfaceStripeInWorldsWrapper>.visual,
    #eCloudStripeInWorldsWrapper>.visual{
        background-position:center;
        background-repeat:no-repeat;
        width:218px;
        height:218px;
        border:4px solid #bfc0c2;
        box-sizing:border-box;
    }
    #eWrongAndRightStripeInWorldsWrapper>.content,
    #eProfDeptStripeInWorldsWrapper>.content,
    #eJournalStripeInWorldsWrapper>.content,
    #eFinancialManagementStripeInWorldsWrapper>.content,
    #eFormsInterfaceStripeInWorldsWrapper>.content,
    #eCloudStripeInWorldsWrapper>.content{
        font-size:1.23rem;
        color:rgb(128,130,133);
        line-height:150%;
    }
    #eWrongAndRightStripeInWorldsWrapper>.content,
    #eJournalStripeInWorldsWrapper>.content,
    #eFinancialManagementStripeInWorldsWrapper>.content,
    #eCloudStripeInWorldsWrapper>.content{
        padding:0 4rem 0 0;
    }
    #eProfDeptStripeInWorldsWrapper>.content,
    #eFormsInterfaceStripeInWorldsWrapper>.content{
        padding:0 0 0 4rem;
    }
    #eWrongAndRightStripeInWorldsWrapper>.content>.caption,
    #eProfDeptStripeInWorldsWrapper>.content>.caption,
    #eJournalStripeInWorldsWrapper>.content>.caption,
    #eFinancialManagementStripeInWorldsWrapper>.content>.caption,
    #eFormsInterfaceStripeInWorldsWrapper>.content>.caption,
    #eCloudStripeInWorldsWrapper>.content>.caption{
        font-size:2.75rem;
    }
    #eWrongAndRightStripeInWorldsWrapper>.content>.caption,
    #eProfDeptStripeInWorldsWrapper>.content>.caption,
    #eJournalStripeInWorldsWrapper>.content>.caption{
        color:#77acc4;
    }
    #eFinancialManagementStripeInWorldsWrapper>.content>.caption,
    #eFormsInterfaceStripeInWorldsWrapper>.content>.caption,
    #eCloudStripeInWorldsWrapper>.content>.caption{
        color:#68b04d;
    }

    /* content stripes in worlds pages - end */

    /* background videos - start */
    .vidWrapperWrapper{
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        overflow:hidden;
        z-index:-1;
    }
    .vidWrapperWrapper>.vidWrapper{
        position:relative;
        top:-66px;
    }
    .vidWrapperWrapper>.vidWrapper>.vid{
        width:100%;
    }
    #eFirstStripeInWorldsPgWrapperWrapper>.vidWrapperWrapper,
    #eWorkWorldPg #eMainNavInFtrWrapper>.vidWrapperWrapper,
    #eMonetaryWorldPg #eMainNavInFtrWrapper>.vidWrapperWrapper{
        opacity:0.2;
    }
    /* background videos - end */

    /* recommenders - start */
    #eRecommendersWrapper{
        display:flex;
        flex-direction:column;
    }
    #eRecommendersWrapper .recommender{
        width:154px;
        text-align:center;
        font-size:1.23em;
        margin:1rem;
    }
    #eRecommendersWrapper .recommender>.visual{
        height:155px;
        border-radius:50%;
        background-repeat:no-repeat;
    }
    #eRecommendersWrapper .recommender>.visual.galz{
        background-image:url(../images/gal_z.png);
    }

    #eRecommendersWrapper .recommender>.visual.hadarabm{
        background-image:url(../images/hadara_bm.png);
    }
    #eRecommendersWrapper .recommender>.visual.galg{
        background-image:url(../images/gal_g.png);
    }
    #eRecommendersWrapper .recommender>.visual.haimm{
        background-image:url(../images/haim_m.png);
    }
    #eRecommendersWrapper .recommender>.visual.ornach{
        background-image:url(../images/orna_ch.png);
    }
    #eRecommendersWrapper .recommender>.visual.kobiy{
        background-image:url(../images/kobi_y.png);
    }
    #eRecommendersWrapper .recommender>.visual.yehudap{
        background-image:url(../images/yehuda_p.png);
    }
    #eRecommendersWrapper .recommender>.visual.avik{
        background-image:url(../images/avi_k.png);
    }


    #eRecommendersWrapper .recommender>.caption>.recommenderName{
        font-family:subset-TypoPaS-bold;
        font-size:1.8rem;
        margin:1rem auto 0.2rem;
    }
    #eRecommendersWrapper .recommender>.caption{
        margin-bottom:1rem;
    }
    
    
    /* recommenders - end */


/* free try reg - start */
    #eFreeTryRegWrapper{
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        padding:7rem 0;
    }
    #eFreeTryRegWrapper>.textWrapper{
        width:20rem;
        margin-left:4rem;
    }
    #eFreeTryRegWrapper>.textWrapper>.caption{
        font-family:subset-TypoPas-bold;
        font-size:2.75rem;
    }
    #eFreeTryRegWrapper>.textWrapper>.content{
        margin-top:0.5rem;
        font-size:1.4rem;
        line-height:1.5rem;
        color:#c0c0bf;
    }
    #eFreeTryRegWrapper>.formWrapper{
        flex-grow:1;
        display:flex;
        flex-direction: column;
    }
    #eFreeTryRegWrapper>.formWrapper>.submitBtn{
        width:auto;
        align-self: flex-end;
        color:white;
        padding:0.4rem;
        border:0;
        font-size:1.23rem;
    }
    #eWorkWorldPg #eFreeTryRegWrapper>.formWrapper>.submitBtn{
        background-color:#77acc4;
    }
    #eMonetaryWorldPg #eFreeTryRegWrapper>.formWrapper>.submitBtn{
        background-color:#68b04d;
    }

    #eFreeTryRegWrapper>.formWrapper>.itm{
        margin:0.2rem 0;
        padding:0.5rem 0.2rem;
        font-size:1rem;
        color:#4ea4eb;
    }
    #eWorkWorldPg #eFreeTryRegWrapper>.formWrapper>.itm{
        border:3px solid #77acc4;
    }
    #eMonetaryWorldPg #eFreeTryRegWrapper>.formWrapper>.itm{
        border:3px solid #68b04d;
    }

    #eFreeTryRegWrapper>.formWrapper>.itm::placeholder{
        color:#ccc;
    }
/* free try reg - end */

/* contact Details Interface - start */
#eContactDetailsWrapperWrapper{
    background-color:#ede9e1;
}
#eContactDetailsWrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:4rem 0;
    font-size:1.23rem;
}
#eContactDetailsWrapper>.textWrapper{
    width:30rem;
    margin-left:4rem;
}
#eContactDetailsWrapper>.textWrapper>.content{
    line-height:1.5rem;
    color:black;
}
#eContactDetailsWrapper>.formWrapper{
    flex-grow:1;
    display:flex;
    flex-direction: column;
}
#eContactDetailsWrapper>.formWrapper>.submitBtn{
    width:auto;
    align-self: flex-end;
    color:white;
    padding:0.4rem;
    border:0;
}
#eContactDetailsWrapper>.formWrapper>.submitBtn{
    background-color:black;
}

#eContactDetailsWrapper>.formWrapper>.itm{
    margin:0.2rem 0;
    padding:0.5rem 0.2rem;
    color:black;
    border:3px solid black;
    background-color:transparent;

}
#eContactDetailsWrapper>.textWrapper>.content>.itm.top{
    margin-bottom:4rem;
}
#eContactDetailsWrapper>.textWrapper>.content>.itm>.caption{
    font-weight:bold;
}

#eContactDetailsWrapper>.formWrapper>.itm::placeholder{
    color:black;
}
#eContactDetailsWrapper #eDetails{
    height:7rem;
}
/* contact Details Interface - end */

/* contact options - start */
    #eContactOptionsWrapper{
        display:flex;
        justify-content:space-between;
        padding:6rem 0;
    }
    .contactOption>.visual{
        border-radius:50%;
        width:153px;
        height:153px;
        margin:auto;
        background-repeat:no-repeat;
        background-position:center;
    }
    .contactOption>.content{
        text-align:center;
        max-width:10rem;
    }
    .contactOption>.content>.caption{
        font-family:subset-TypoPas-Bold;
        font-size:1.75rem;
        margin:0.8rem;
    }
    .contactOption>.content>.content{
        font-weight:normal;
        font-size:1.23rem;
    }
    .contactOption>.visual.tel{
        background-color:white;
        background-image:url(../images/tel.png);
        background-color:#4682b4;
    }
    .contactOption>.visual.fax{
        background-color:white;
        background-image:url(../images/fax.png);
        background-color:#d0ae33;
    }
    .contactOption>.visual.address{
        background-color:white;
        background-image:url(../images/address.png);
        background-color:#77acc4;
    }
    .contactOption>.visual.email{
        background-color:white;
        background-image:url(../images/email.png);
        background-color:#68b04d;
    }
/* contact options - end */



/* footer content - start*/
    #eMainNavInFtrWrapper{
        padding:6em;
        position:relative;
        font-size:1.23rem;
        z-index:-1;
    }
    #eMainPg #eMainNavInFtrWrapper{
        background-color:#a0a09f;
    }
    #eWorkWorldPg #eMainNavInFtrWrapper{
        background-color:#83b3c8;
    }
    #eMonetaryWorldPg #eMainNavInFtrWrapper{
        background-color:#69af58;
    }
    #eWorkWorldPg #eMainNavInFtrWrapper>.vidWrapper>.vid,
    #eMonetaryWorldPg #eMainNavInFtrWrapper>.vidWrapper>.vid{
        opacity:0.1;
    }
    #eContactUsPg #eMainNavInFtrWrapper{
        background-color:#ede9e1;
    }
    #eAboutPg #eMainNavInFtrWrapper{
        background-color:#a0a09f;
    }
    #eMainNavInFtr{
        display:flex;
        justify-content:space-between;
        color:white;
    }
    #eAboutPg #eMainNavInFtr,
    #eWorkWorldPg #eMainNavInFtr,
    #eContactUsPg #eMainNavInFtr,
    #eMonetaryWorldPg #eMainNavInFtr{
        color:black;
    }
    #eMainNavInFtr .hdr{
        font-family:subset-TypoPas-bold;
        margin:0 0 0.2em 0;
    }
    #eMainNavInFtr>.section{
        line-height:1.5em;
        z-index:1;
    }
    #eMainNavInFtr .itm{
        cursor:pointer;
    }
    #eMainNavInFtr .itmWrapper{
        list-style:none;
    }
    #eMainNavInFtr .itm:before{
        content:"";
        display:inline-block;
        width:16px;
        height:16px;
        vertical-align:-3px;
        margin-left:5px;

    }
    #eMainNavInFtr .itm:before{
        background-image:url(../images/arrow_left.png);
    }
    #eMainPg #eMainNavInFtr .itm:before{
        background-image:url(../images/arrow_left_white.png);
    }
    #eEmailInputInNewsletterReg{
        flex-grow:1;
        margin-left:1.5em;
        padding:0.5em 0.2em;
    }
    #eEmailInputInNewsletterReg::placeholder{
        color:white;
    }
    #eAboutPg #eEmailInputInNewsletterReg::placeholder,
    #eWorkWorldPg #eEmailInputInNewsletterReg::placeholder,
    #eMonetaryWorldPg #eEmailInputInNewsletterReg::placeholder,
    #eContactUsPg #eEmailInputInNewsletterReg::placeholder{
        color:black;
    }
    #eSendBtnInNewsletterReg{
        flex-grow:0;
        padding:0 1rem;
    }
    #eSendBtnInNewsletterReg:hover{
        cursor:pointer;
    }
    #eEmailInputInNewsletterReg,#eSendBtnInNewsletterReg{
        background-color:transparent;
        border:1px solid white;
        color:white;
    }
    #eAboutPg #eEmailInputInNewsletterReg,
    #eWorkWorldPg #eEmailInputInNewsletterReg,
    #eMonetaryWorldPg #eEmailInputInNewsletterReg,
    #eContactUsPg #eEmailInputInNewsletterReg,
    #eAboutPg #eSendBtnInNewsletterReg,
    #eWorkWorldPg #eSendBtnInNewsletterReg,
    #eMonetaryWorldPg #eSendBtnInNewsletterReg,
    #eContactUsPg #eSendBtnInNewsletterReg{
        border:1px solid black;
        color:black;
    }
    #eSocialNewtworksControlPanel{
        margin:1em auto !important;
    }
    #eSocialNewtworksControlPanel .itm{
        margin-left:1em;

    }
    #eSocialNewtworksControlPanel .itm:hover{
        cursor:pointer;
    }
/* footer content - end*/

/* helper classes - start */
    .flex-column{
        display:flex;
        flex-direction:column;
    }
    .bgcolor1{
        background-color:#ddd;
    }
    .hideMe{
        display:none !important;
    }
    .boldMe{
        font-weight:bold;
    }
    a.removeFontSpecialTraits{
        color:inherit;
        text-decoration: none;
    }
/* helper classes - end */


header,#eMainNavInFtr,#eSocialNewtworksControlPanel,#eSolutionsWrapper,.stripeContent,#eRecommendersWrapper,#eFreeTryRegWrapper,#eContactDetailsWrapper,#eContactOptionsWrapper{
    margin:auto;
}

/* guests login - start*/

#eGuestsLoginPg{
    background-color:#ddd;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
#eGuestsLoginPg>.vidWrapper{
    z-index:-1;
}
#eGuestsLoginPg #eCloseBtn{
    background-image:url(../images/x_white.png);
    width:32px;
    height:32px;
    position:absolute;
    top:40px;
    right:40px;
}

#eGuestsLoginTilesWrapper{
    display:flex;
    flex-direction:column;
    width:684px;

    
/*
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
*/
    padding:0.5rem;
    background-color:white;
}
#eGuestsLoginTilesWrapper>.row{
    display:flex;
    justify-content: flex-end;
}
#eGuestsLoginTilesWrapper>.row>.itm{
    min-height:178px;
    border:5px solid white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    box-sizing:border-box;
    width:176px;
}
#eGuestsLoginTilesWrapper>.row>.itm>.content{
    margin-top:1rem;
}
#eGuestsLoginTilesWrapper>.row>.itm>.content>.content{
    text-align:center;
    font-size:1.6rem;
    color:white;
}
#eGuestsLoginTilesWrapper>.row>.itm>.content>.caption{
    font-family:subset-TypoPas-Bold;
    font-size:2.2rem;
    text-align: right;
    margin-bottom: 1rem;
}
#eGuestsLoginTilesWrapper>.row>#eGeneralTextTile.itm>.content>.content{
    font-size:1.23rem;
    line-height:1.5rem;
    color:black;
    text-align: right;
}
#eGuestsLoginTilesWrapper>.row>#eGeneralTextTile.itm>.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

#eGuestsLoginTilesWrapper>.row>.itm>.content>.itm:first-child{
    margin-bottom:0.5rem;
}

#eGuestsLoginTilesWrapper #eGeneralTextTile{
    background-color:white;
    flex-grow:2;
}
#eGuestsLoginTilesWrapper #eManagerTile{
    background-color:#0f85bb;
    flex-grow:0;
}
#eGuestsLoginTilesWrapper #eAccountantTile{
    background-color:#77acc4;
    flex-grow:0;
}
#eGuestsLoginTilesWrapper #eFinanceWorldTile{
    background-color:#68b04d;
    flex-grow:1;
}
#eGuestsLoginTilesWrapper #eLawyerTile{
    background-color:#b9aa34;
    flex-grow:0;
}
#eGuestsLoginTilesWrapper #eHumanResources{
    background-color:#179796;
    flex-grow:0;
}
#eGuestsLoginTilesWrapper #eSalaryManager{
    background-color:#9ccb3b;
    flex-grow:0;
}
#eGuestsLoginTilesWrapper>.row>.itm>.visual{
    background-image:url(../images/pileOfBooks_white.png);
    background-repeat:no-repeat;
    background-position:center;
    height:60px;

}
#eGuestsLoginTilesWrapper #eFinanceWorldTile.itm>.visual{
    background-image:url(../images/graph.png);
}


/* guests login - end */

/* otorita video - start */
/*
.otoritaVideoWrapper{
    position:fixed;
    width: 745px;
    height: 419px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:200;
}
.otoritaVideo{
    width: 100%;
    height: 100%;
}
*/
#player{
    position:fixed;
    width: 745px;
    height: 419px;
/*
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
*/
    z-index:200;
}

/* otorita video - end */




/* desktop */
@media screen and (min-width:980px){
    #mainNav,#eMainNavInFtr,#eSocialNewtworksControlPanel,#eSolutionsWrapper,.stripeContent,#eRecommendersWrapper,#eFreeTryRegWrapper,#eContactDetailsWrapper,#eContactOptionsWrapper{
        width:1024px;
    }
    #mainNav>ul>li:first-of-type{
        margin-right:2rem !important;
    }
    #mainHdr{
        position:fixed;
    }
    #eLoginOptionsItm{
        width:auto;
        transform:translateX(-30px);
    }
    /* solutions wrapper - start*/
    #eSolutionsWrapper{
        display:flex;
        justify-content:space-between;
        padding-top:3rem;
        padding-bottom:3rem;
    }
    #eRecommendersWrapper{
        margin:5rem auto;
    }
    .recommendersRow{
        display:flex;
        justify-content:space-between;
    }
    #eRecommendersWrapper .recommender>.caption{
        min-height:7rem;
    }
    #eNewsletterRegInputFldsWrapper{
        margin-top:1em;
        display:flex;
    }
    /* about page - start */
    #eFirstStripeInAboutPgWrapperWrapper{
        height:456px;
    
    }
    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.content>.itm{
        width:100%;
    }
    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.visual{
        background-image:url(../images/whiteStripes_large.png);
        height:456px;
        width:523px;
        position:relative;
        right:100px;
        display:flex;
    }
    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.visual>.playVideoButton{
        width:81px;
        height:81px;
        background-color:rgba(100, 102, 102, 1);
        background-image:url(../images/arrow_right_black.png);
        background-repeat:no-repeat;
        background-position:center;
        border-radius:50%;
        margin:auto;
        cursor:pointer;
    }
    #eAboutPg .solution>.caption{
        min-height:5rem;
    }
    #eClientsStripeInAboutPgWrapper{
        margin:6rem auto;
    }
    /* about page - end */

    /* worlds pages - start */
    #eWrongAndRightStripeInWorldsWrapper>.content>.caption,
    #eProfDeptStripeInWorldsWrapper>.content>.caption,
    #eJournalStripeInWorldsWrapper>.content>.caption,
    #eFinancialManagementStripeInWorldsWrapper>.content>.caption,
    #eFormsInterfaceStripeInWorldsWrapper>.content>.caption,
    #eCloudStripeInWorldsWrapper>.content>.caption{
        margin-bottom:3rem;
    }

    #eWorkWorldPg .stripeContent>.visual>.playVideoButton{
        width:65px;
        height:63px;
        background-image:url(../images/round.png);
        background-repeat:no-repeat;
        background-position:center;
        border-radius:50%;
        cursor:pointer;
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        left:30px;
        top:150px;
    }
    #eMonetaryWorldPg .stripeContent>.visual>.playVideoButton{
        width:97px;
        height:102px;
        background-color:red;
        cursor:pointer;
        position:absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        right:25px;
        top:238px;
    }
    /* worlds pages - end */

    .stripeContent>.visual>.playVideoButton.standout{
        z-index:300;
    }
    #eAboutPg #eSolutionsWrapper .solution>.visual{
        border-radius:50%;
    }
        /* about page - end */
    /* footer - start */
    #eMainNavInFtr>.section:nth-child(1),#eMainNavInFtr>.section:nth-child(2){
        padding-left:5rem;
        white-space:nowrap;
    }
    /* footer - end */
}
/* tablet + mobile - anything that's not a desktop */
@media screen and (max-width:979px){
    #mainNav,#eMainNavInFtr,#eSocialNewtworksControlPanel,#eSolutionsWrapper,.stripeContent,#eRecommendersWrapper,#eFreeTryRegWrapper,#eContactDetailsWrapper,#eContactOptionsWrapper{
        width:98%;
    }
    #mainNav, #mainNav ul{
        flex-direction:column;
    }
    #eMainNavInFtr{
        flex-direction:column;
    }
    .stripeContent>.visual{
        display:none;
    }
    .stripeContent>.content{
        padding:1rem !important;
    }   
    /* solutions wrapper - start*/
    #eSolutionsWrapper{
        display:flex;
        justify-content:space-between;
    }
    .recommendersRow{
        display:block;
        text-align: center;
    }
    .recommender{
        margin:3rem auto !important;
    }
    .recommendersRow:not(.firstRow)>.recommender:first-child{
        margin-top:0 !important;
    }
    #eWorkWorldPg #eSolutionsWrapper,#eMonetaryWorldPg #eSolutionsWrapper{
        display:block;
    }

    /* solutions wrapper - end */

    /* about page - start */

    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.content>.itm{
        margin:auto;
    }
    #eClientsStripeInAboutPgWrapper{
        margin:2rem auto;
    }
    #eAboutPg .solution{
        margin-bottom:2rem;
    }
    #eAboutPg #eSolutionsWrapper .solution>.visual{
        border-radius:50%;
    }
    /*about page - end */

    /* worlds pages - general - start */
    #eWrongAndRightStripeInWorldsWrapper>.content>.caption,
    #eProfDeptStripeInWorldsWrapper>.content>.caption,
    #eJournalStripeInWorldsWrapper>.content>.caption,
    #eFinancialManagementStripeInWorldsWrapper>.content>.caption,
    #eFormsInterfaceStripeInWorldsWrapper>.content>.caption,
    #eCloudStripeInWorldsWrapper>.content>.caption{
        margin-bottom:1rem;
    }

    #eFirstStripeInWorldsPgWrapper>.visual{
        display:none !important;
    }
    #eFirstStripeInWorldsPgWrapperWrapper{
        margin-bottom:20px !important;
    }
    /* worlds pages - general - end */

    /* contact us page adaptation to mobile - start */
        #eContactDetailsWrapper>.textWrapper{
            width:10rem;
        }
    /* contact us page adaptation to mobile - end */

   /* guest login pg tablet and mobile adaptation - start */
   #eGuestsLoginPg{
        background-color:white;
        flex-direction:column;
        overflow:visible;
    }
    #eGuestsLoginPg #eCloseBtn{
        position:static;
        display:block;  
        background-repeat:no-repeat;
        background-position:right center;
        margin:1rem 1rem 0 1rem;
        background-image:url(../images/x.png);
        align-self:flex-start;
    }
    #eGuestsLoginTilesWrapper{
        width:auto;
        position:static;
        transform:none;
    }
    #eGuestsLoginTilesWrapper>.row{
        display:block;
    }
    #eGuestsLoginTilesWrapper>.row>.itm{
        width:auto;
        margin:0.5rem auto;
    }

   /* guest login pg tablet and mobile adaptation - end */

   /* newsletter reg in footer- start*/
    #eSendBtnInNewsletterReg{
        margin:1rem 0;
        padding:0.5rem 1rem;
    }
    /* newsletter reg in footer- end*/

    /* what are we going to do with the videos in the mobile world? hide them for starters- start */
    .vidWrapper{
        display:none;
    }
    /* what are we going to do with the videos in the mobile world? hide them for starters- start */

    /* footer - start */
        #eMainNavInFtrWrapper{
            padding:2rem;
        }
        #eMainNavInFtr>.section:nth-child(2),#eMainNavInFtr>.section:nth-child(3){
            padding-top:2rem;
        }
        #eMainPg #eMainNavInFtrWrapper{
            background-color:#ef7700;
        }
        /* footer - end */
}
/* mobile*/
@media screen and (max-width:500px){
    #mainNav,#eMainNavInFtr,#eSocialNewtworksControlPanel,#eSolutionsWrapper,#eFirstStripeInHomePgWrapper,#eRecommendersWrapper,#eFreeTryRegWrapper,#eContactDetailsWrapper,#eContactOptionsWrapper{
        width:98%;
    }
    #mainNav, #mainNav ul{
        flex-direction:column;
    }
    .stripeContent>.visual{
        display:none;
    }
    .stripeContent>.content{
        padding:1rem !important;
    }   
    #eMainNavInFtr{
        flex-direction:column;
    }
    #eSolutionsWrapper{
        display:block;
    }
    #eSolutionsWrapper>.solution{
        display:block;
        width:95%;
        margin:2rem auto;
    }
    /* about page - start */

    .solution>.visual{
        width:auto;
    }

    #eFirstStripeInAboutPgWrapperWrapper>.stripeContent>.content>.itm{
        margin:auto;
    }
    #eAboutPg #eSolutionsWrapper .solution>.visual{
        border-radius:0;
    }
    
    /*about page - end */

    /* free try reg - start */
    #eFreeTryRegWrapper{
        display:block;
        padding:2rem 0;
    }
    /* free try reg - end */

    /* contact us page adaptation to mobile - start */ 
        #eContactDetailsWrapper,#eContactOptionsWrapper{
            display:block;
            padding:2rem 0;
        }
        #eContactDetailsWrapper>.textWrapper{
            margin-left:0;
            width:auto;
        }
        #eContactOptionsWrapper>.contactOption>.content{
            margin:1rem auto;
        }
        .contactOption:not(:last-child){
            display:block !important;
            margin-bottom:3rem;
        }
    /* contact us page adaptation to mobile - end */ 

    /* newsletter reg in footer- start*/
    #eNewsletterRegInputFldsWrapper{
        margin-top:1em;
        display:block;
    }
    #eSendBtnInNewsletterReg{
        margin:1rem 0;
        padding:0.5rem 1rem;
    }
    /* newsletter reg in footer- end*/
}